<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>FlyScp1.0</Name>
    <Version>1.0.0</Version>
    <Title>FlyScp1.0</Title>
    <Publisher>Flysnow</Publisher>
    <StartMenuDir>FlyScp1.0</StartMenuDir>
    <MaintenanceToolName>uninstall</MaintenanceToolName>
    <InstallerApplicationIcon>FlyScpInstaller</InstallerApplicationIcon>
    <RunProgram>@TargetDir@/FlyScp</RunProgram>
    <Banner>banner.bmp</Banner>
    <WizardStyle>Modern</WizardStyle>
    <TargetDir>@ApplicationsDir@/Flysnow/FlyScp1.0</TargetDir>
</Installer>
